<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Transfer pieniędzy</title>
</head>
<body>
<section th:fragment="AccountMoneyTransferForm">
    <div class="container">
        <section class="section">
            <h1 class="section-header">
                <div class="big-section-header">Przeznacz na cel</div>
            </h1>
        </section>
        <div class="card">
            <div class="card-header">
                <h4>Przelej pieniądze na cel</h4>
            </div>
            <form th:action="@{/updateGoalBalance}" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label>Stan konta: <span th:text="${realAccountBalance}"></span></label>
                    </div>
                    <div class="form-group">
                        <label>Wybierz jaką wartość chcesz przeznaczyć na cel:</label>
                        <input type="number" name="value"
                               class="form-control" placeholder="wartość">
                    </div>
                    <button type="submit" class="btn btn-primary btn-round" style="margin-bottom: 15px;">Zatwierdź
                    </button>
                    <a th:href="@{/dashboard}" class="btn btn-danger btn-round" style="margin-bottom: 15px;">
                        Anuluj
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>

