<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Odejmij wydatek</title>
</head>
<body>
<section class="content" th:fragment="AddExpenses">
    <div class="container">
        <div class="panel bg-black">
            <div class="panel-body">
                <h1 class="form-text text-center">Odejmij wydatek</h1>
                <hr class="form-line"/>
                <div class="forms">
                    <form th:action="@{/addExpenses}" method="post">
                        <div class="form-group form-group-custom">
                            <label class="label-form">Wybierz typ</label>
                            <!--<input type="text" th:value="${income.type}" name="type" class="form-control" id="incomeType"-->
                            <!--placeholder="Wprowadź typ przychodu stały/zmienny">-->
                            <div class="form-check">
                                <label class="form-check-label bg-form-check">
                                    <input class="form-check-input" type="radio" name="type" id="inlineRadioStable"
                                           th:value="stały"><span>stały</span>
                                </label>
                                <label class="form-check-label bg-form-check">
                                    <input class="form-check-input" type="radio" name="type" id="inlineRadioChange"
                                           th:value="zmienny" checked="checked"> <span>zmienny</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group form-group-custom">
                            <label for="expensesName" class="label-form">Wprowadź nazwę wydatku</label>
                            <div class="input-group">
                            <span class="input-group-addon bg-blue">
                                <span class="ion ion-pricetag"></span>
                            </span>
                                <input type="text" th:value="${expenses.name}" name="name"
                                       class="form-control form-control-custom" id="expensesName">
                            </div>
                        </div>
                        <div class="form-group form-group-custom">
                            <label class="label-form">Wybierz wartość wydatku</label>
                            <div class="form-inline form-control none-border-transparent-bg">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="slider">
                                            <input title="hiddenSlider" id="hiddenslider" type="range"
                                                   th:value="${expenses.value}" name="value" style="display:none"
                                                   min="1" max="100"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group-custom">
                            <div class="row">
                                <div class="col-md-3">
                                    <a class="btn btn-range btn-block" id="update-1">Zakres[100-1000]</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-range btn-block" id="update-2">Zakres[1000-10000]</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-range btn-block" id="update-3">Zakres[10000-100000]</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-range-reset btn-block" id="reset">Reset</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" align="right">
                                <a href="http://goalmaker.herokuapp.com/index"
                                   class="btn btn-form btn-cancel">anuluj</a>
                            </div>
                            <div class="col-md-6" align="left">
                                <button type="submit" class="btn btn-form btn-accept">Zatwierdź</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>