<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="content" th:fragment="AddExpenses">
    <h1>Dodaj wydatek</h1>
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-body">
                <form th:action="@{/addExpenses}" method="post">
                    <div class="form-group">
                        <label for="expensesType">Typ wydatku</label>
                        <input type="text" th:value="${expenses.type}" name="type" class="form-control" id="expensesType"
                               placeholder="Wprowadź typ wydatku stały/zmienny">
                    </div>
                    <div class="form-group">
                        <label for="expensesName">Nazwa wydatku</label>
                        <input type="text" name="name" th:value="${expenses.name}" class="form-control" id="expensesName"
                               placeholder="Wprowadź nazwe wydatku">
                    </div>
                    <div class="form-group">
                        <label for="expensesValue">Wartość wydatku</label>
                        <input type="number" name="value" th:value="${expenses.value}" class="form-control" id="expensesValue"
                               placeholder="Wprowadź wartość wydatku">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Zatwierdź</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>