<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Odejmij wydatek</title>
</head>
<body>
<section th:fragment="AddIncome">
    <div class="main-content">
        <section class="section">
            <h1 class="section-header">
                <div class="row">
                    <div class="big-section-header">Dodaj przychód:</div>
                </div>
            </h1>
        </section>
        <div class="card">
            <div class="card-header">
                <h4>Dodawanie przychodu</h4>
            </div>
            <form th:action="@{/addIncome}" method="post">
                <div class="card-body">


                    <div class="form-group"><label class="d-block">Wybierz typ stały/zmienny</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio"
                                   name="type" id="inlineRadioStable" th:value="stały">
                            <label class="form-check-label">stały</label></div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio"
                                   name="type" id="inlineRadioChange" th:value="zmienny">
                            <label class="form-check-label">zmienny</label></div>
                    </div>

                    <div class="form-group"><label>Wprowadź nazwę przychodu</label>
                        <input th:value="${income.name}" type="text" name="name"
                               class="form-control" id="incomeName" placeholder="nazwa"></div>

                    <div class="form-group"><label>Wybierz wartość przychodu</label>
                        <input th:value="${income.value}" type="text" name="value"
                               class="form-control" id="hiddenslider" placeholder="wartość"></div>


                    <button type="submit" class="btn btn-primary btn-round" style="margin-bottom: 15px;">
                        Zatwierdź
                    </button>
                    <a th:href="@{/dashboard}" class="btn btn-danger btn-round" style="margin-bottom: 15px;">
                        Anuluj
                    </a>
                </div>
            </form>

        </div>
    </div>
</section>
</body>