<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Changeable income form</title>
</head>
<body>
<section class="content" th:fragment="CreateChangeableIncomeForm">
    <h1>Dodawanie przychodu zmiennego</h1>
    <div class="container-fluid">
        <div class="panel-body">
            <form th:action="@{/addChangeableIncome}" method="post">
                <div class="form-group">
                    <label for="incomenamechangeable">Nazwa przychodu</label>
                    <input type="text" th:value=${changeableIncome.name} name="name" class="form-control" id="incomenamechangeable"
                           placeholder="Wprowadź nazwę przychodu">
                </div>
                <div class="form-group">
                    <label for="incomevaluechangeable">Wartość przychodu</label>
                    <input type="number" th:value=${changeableIncome.value} name="value" class="form-control" id="incomevaluechangeable"
                           placeholder="Wprowadź wartość przychodu">
                </div>
                <button type="submit" class="btn btn-primary btn-block"></button>
            </form>
        </div>
    </div>
</section>
</body>
</html>