<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Income form</title>
</head>
<body>
<section class="content" th:fragment="CreateConstantIncomeForm">
    <h1>Dodawanie przychodu stałego</h1>
    <div class="container-fluid">
        <div class="panel-body">
            <form th:action="@{/addConstantIncome}" method="post">
                <div class="form-group">
                    <label for="incomenameconstant">Nazwa przychodu</label>
                    <input type="text" th:value=${constantIncome.name} name="name" class="form-control" id="incomenameconstant"
                           placeholder="Wprowadź nazwę przychodu">
                </div>
                <div class="form-group">
                    <label for="incomevaluecontsant">Wartość przychodu</label>
                    <input type="number" th:value=${constantIncome.value} name="value" class="form-control" id="incomevaluecontsant"
                           placeholder="Wprowadź wartość przychodu">
                </div>
                <div class="form-group">
                    <label for="incomedaysconstant">Ilość dni</label>
                    <input type="number" th:value=${constantIncome.how_many_days} name="days" class="form-control" id="incomedaysconstant"
                           placeholder="Wprowadź ilość dni">
                </div>
                <button type="submit" class="btn btn-primary btn-block"></button>
            </form>
        </div>
    </div>
</section>
</body>
</html>