<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<section class="content" th:fragment="Dashboard">
    <section class="section">
        <h1 class="section-header">
            <div class="row">
                <div class="big-section-header">Twój cel: </div>
                <p th:if="${currentUserGoal==null}"><small>  Nie ustawiłeś jeszcze żadnego celu, możesz zrobić to teraz</small></p>
            </div>
        </h1>
    </section>
    <!--IF USER HAVE GOAL SET-->
    <div th:if="${currentUserGoal!=null}">
        <div class="row">
            <div class="col-12">
                <div class="card rounded-card">
                    <div class="goal-overlay"></div>
                    <div class="card-body"
                         th:style="'background-image:url(' + @{'/assets/img/categories/'+${currentUserGoal.category.name}+'.jpg'} + ');background-size:cover; background-position:center; position:relative; border-radius: 7px;'">
                        <div class="row">
                            <!--USER GOAL TEXT-->
                            <div class="col-12">
                                <h2 class="text-white" th:text="${currentUserGoal.name}"></h2>
                            </div>
                            <!--USER GOAL BUTTONS-->
                            <div class="col-6">
                                <button class="btn btn-primary btn-round goal-btn-edit"
                                        th:onclick="'javascript:moveTo(\'' + @{/addOrEditGoal?id=}+${currentUserGoal.id_goal} + '\')'">
                                    Edytuj
                                </button>
                                <button class="btn btn-danger btn-round goal-btn-delete"
                                        th:onclick="'javascript:moveTo(\'' + @{/deleteGoal?id=}+${currentUserGoal.id_goal} + '\')'">
                                    Usuń
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
            GOAL IS SET
        -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card card-sm-2">
                    <div class="card-icon"><img src="/dist/img/goal.png"></div>
                    <div class="card-header"><h4>Postęp celu
                    </h4></div>
                    <!--USER GOAL BALANCE AND USER GOAL CURRENT-->
                    <div class="card-body">
                        <span th:text="${currentUserFinances.goal_balance} + ' / '"></span>
                        <span th:text="${currentUserGoal.value}" class="text-muted">123</span>
                    </div>
                    <div class="card-progressbar">
                        <div class="progress" style="height:6px;">
                            <div class="progress-bar bg-success" role="progressbar"
                                 th:style="'width:${perecentageValueGoal};'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--CURRENT USER FINANCES-->
            <div class="col-lg-3 col-md-6 col-12">
                <div class="card card-sm-2">
                    <div class="card-icon"><img src="/dist/img/account.png"></div>
                    <div class="card-header"><h4>Stan Konta
                    </h4></div>
                    <div class="card-body">
                        <span th:text="${currentUserFinances.real_account_balance}"></span>
                    </div>
                    <div class="card-progressbar"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">

                <div class="card card-sm-2">
                    <div class="card-icon"><img src="/dist/img/hourglass.png">
                    </div>
                    <div class="card-header"><h4>Szacowany czas
                    </h4></div>
                    <div class="card-body">25 dni</div>
                    <div class="card-progressbar"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">

                <div class="card card-sm-2">
                    <div class="card-icon"><i class="ion ion-ionic text-danger"></i></div>
                    <div class="card-header"><h4>XXXX
                    </h4></div>
                    <div class="card-body">yyy</div>
                    <div class="card-progressbar"></div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">

                <div class="float-right">
                    <button class="btn btn-primary btn-round" style="margin-bottom: 15px;"
                            th:onclick="'javascript:moveTo(\'' + @{/updateGoalBalance} + '\')'">
                        <img src="https://png.icons8.com/color/20/cccccc/deposit.png">Przelej na cel
                    </button>
                    <button class="btn btn-primary btn-round" style="margin-bottom: 15px;"
                            th:onclick="'javascript:moveTo(\'' + @{/addIncome} + '\')'">
                        <img src="https://png.icons8.com/color/20/cccccc/plus.png">Nowy przychód
                    </button>
                    <button class="btn btn-danger btn-round" style="margin-bottom: 15px;"
                            th:onclick="'javascript:moveTo(\'' + @{/addExpenses} + '\')'">
                        <img src="https://png.icons8.com/color/20/cccccc/minus.png">Nowy wydatek
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- NO GOAL-->
    <div th:if="${currentUserGoal==null}">
        <div class="row">
            <div class="col-12">
                <div class="float-right" style="padding:20px;">
                    <a th:href="@{/addOrEditGoal}" class="btn btn-primary btn-round">
                        <img src="https://png.icons8.com/color/20/cccccc/plus.png">Dodaj cel
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${achived}">
        <button type="button" id="startConfetti" class="btn btn-primary" data-toggle="modal" data-target="#congratzModal" style="display: none">
            Osiągnąłeś cel - gratulacje
        </button>
        <div class="modal fade" id="congratzModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">GRATULACJE!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Udało Ci się osiągnąć cel - gratulujemy. Dodaj kolejne cele i zaoszczędź więcej pieniędzy!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-12 col-sm-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Cykliczne Wydatki i Przychody</h4>
                        </div>
                        <div class="card-body">
                            <div class="statistic-details mt-1">
                                <div class="statistic-details-item">
                                    <small class="text-muted"><span class="text-primary"><i
                                            class="ion-arrow-up-b"></i></span> 2 DNI
                                    </small>
                                    <div class="detail-value">$243</div>
                                    <div class="detail-name">Roznoszenie ulotek</div>
                                </div>
                                <div class="statistic-details-item">
                                    <small class="text-muted"><span class="text-danger"><i
                                            class="ion-arrow-down-b"></i></span> 23 DNI
                                    </small>
                                    <div class="detail-value">$32</div>
                                    <div class="detail-name">Opłata Netflix</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Ostatni zrealizowany cel</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled list-unstyled-border">
                                <li class="media">
                                    <img class="mr-3 rounded-circle" width="50"
                                         th:src="@{'/dist/img/'+${lastRealisedGoal.category.name}+'.png'}">
                                    <div class="media-body">
                                        <div class="media-title"><span th:text="${lastRealisedGoal.name}">Samochód</span></div>
                                        <small>Uzbierano: <span th:text="${lastRealisedGoal.value} + ' zł'"></span></small>
                                    </div>
                                </li>
                                <div class="float-right"><a th:href="@{/allRealisedGoals}"
                                                            class="btn btn-primary btn-sm btn-round">Zobacz
                                    wszystkie</a></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-12 col-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>Finanse</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled list-unstyled-border">
                        <li class="media" th:each="incomeAndExpense : ${incomesAndExpensesTogether}">
                            <a href="#"><img alt="image" class="mr-3 rounded" width="50"
                                             src="/dist/img/expense.png"></a>
                            <div class="media-body">
                                <!--VALUE OF INCOME/EXPENSE-->
                                <div class="media-right"
                                     th:classappend="${incomeAndExpense.isIncome()} ? text-success : text-danger"
                                     th:text="${incomeAndExpense.value} + ' zł'"></div>
                                <!--NAME OF INCOME/EXPENSE-->
                                <div class="media-title"><a href="#" th:text="${incomeAndExpense.name}"></a></div>
                                <!--TYPE OF INCOME/EXPENSE-->
                                <small class="text-muted" th:text="${incomeAndExpense.type}">
                                    <div class="bullet"></div>
                                    <span th:text="${#dates.format(incomeAndExpense.date, 'dd-MM-yyyy')}"></span>
                                </small>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center">
                        <a href="#" class="btn btn-primary btn-sm btn-round">
                            Zobacz wszystkie
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>