<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>

</div>
<section class="content" th:fragment="Dashboard">
    <div class="container-fluid">

        <div class="panel panel-headline">
            <div class="panel-body">
                <!--GOAL TITLE-->
                <h1>CEL: </h1>
                <h1 th:text="${currentUserGoal.name}"></h1>
                <p th:text="${currentUserGoal.category}"></p>

                <a th:if="${currentUserGoal==null}" th:href="@{/addGoal}" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    <span>Dodaj cel</span>
                </a>
                <a th:if="${currentUserGoal!=null}" th:href="@{/addGoal}" class="btn btn-primary">
                    <i class="fa fa-edit"></i>
                    <span>Edytuj</span>
                </a>
                <a th:if="${currentUserGoal!=null}" class="btn btn-primary">
                    <i class="fa fa-trash"></i>
                    <span>Usuń</span>
                </a>
            </div>


        </div>
    </div>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                 aria-valuemin="0" aria-valuemax="100" style="width:70%;" th:text="${currentUserGoal.value}">

            </div>
        </div>
        <div class="panel panel-headline">
            <div class="panel-body">
                <h4>Wartość całkowita celu</h4>
                <h2 th:text="${currentUserGoal.value}"></h2>
            </div>
            <div class="panel-body">
                <h4>Przybliżony czas do osiągnięcia celu</h4>
                <h2 th:text="${currentUserGoal.number_of_days}"></h2>
            </div>
        </div>
    </div>
</section>
</body>
</html>