<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Edytuj cel</title>
</head>

<body>
<section th:fragment="EditGoalForm">
    <div>
        <section class="section">
            <h1 class="section-header">
                <div>Edytuj cel:</div>
            </h1>
        </section>
        <div class="card">
            <div class="card-header">
                <!--<h4>Edytuj cel</h4>-->
            </div>
            <form th:action="@{/addOrEditGoal}" method="post">
                <div class="card-body">
                    <input th:value="${goal.id_goal}" type="hidden" name="id"
                           class="form-control">
                    <input th:value="${insertion}" type="hidden" name="insertion"
                           class="form-control">
                    <div class="form-group"><label>Nazwa celu</label>

                        <input th:value="${goal.name}" type="text" name="name" id="goalname" placeholder="nazwa"
                               class="form-control">
                    </div>

                    <div class="form-group"><label>Kategoria</label>
                        <select class="form-control" name="categoryId">
                            <option th:each="category : ${goalCategories}" th:value="${category.id_category}"
                                    th:text="${category.name}"></option>
                        </select></div>

                    <div class="form-group"><label>Wybierz wartość celu</label>
                        <input th:value="${goal.value}" type="number" name="value"
                               class="form-control" id="value" placeholder="wartość"></div>


                    <button type="submit" class="btn btn-primary btn-round" style="margin-bottom: 15px;">
                        Zatwierdź
                    </button>
                    <a th:href="@{/dashboard}" class="btn btn-danger btn-round" style="margin-bottom: 15px;">
                        Anuluj
                    </a>
                </div>
            </form>

        </div>
    </div>
</section>

</body>


</html>
