<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Edytuj cel</title>
</head>
<body>
<section class="content" th:fragment="EditGoalForm">
    <h1>Edytowanie celu</h1>
    <div class="container-fluid">
        <div class="panel">
            <div class="panel-body">
                <form th:action="@{/editGoal}" method="post">
                    <div class="form-group">
                        <label for="goalname">Nazwa celu</label>
                        <input type="text" th:value="${goal.name}" name="name" class="form-control" id="goalname"
                               placeholder="Wprowadź nazwę celu">
                    </div>
                    <div class="form-group">
                        <label>Kategoria</label>
                        <select class="form-control" name="categoryId">
                            <option th:value="${0}">WYBIERZ KATEGORIĘ</option>
                            <option th:each="category : ${goalCategories}" th:value="${category.id_category}"
                                    th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="goalvalue">Wartość celu</label>
                        <input type="number" name="value" th:value="${goal.value}" class="form-control" id="goalvalue"
                               placeholder="Wprowadź wartość celu">
                    </div>
                    <input type="hidden" th:value="${goal.id_goal}" name="id"/>
                    <button type="submit" class="btn btn-primary btn-block">Zatwierdź</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>