<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goal form</title>
<body>
<section class="content" th:fragment="CreateUpdateGoalForm">

    <div class="container-fluid">
        <div class="panel panel-headline">
            <div class="panel-body">
                <form method="post">
                    <div class="form-group">
                        <label for="goalid">ID celu</label>
                        <input type="number" class="form-control" id="goalid" placeholder="Wprowadź id">
                    </div>
                    <div class="form-group">
                        <label for="goalname">Nazwa celu</label>
                        <input type="text" class="form-control" id="goalname" placeholder="Wprowadź nazwę celu">
                    </div>
                    <div class="form-group">
                        <label>Kategoria</label>
                        <select class="form-control">
                            <option>Wakacje</option>
                            <option>Samochód</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="goalvalue">Wartość celu</label>
                        <input type="number" class="form-control" id="goalvalue" placeholder="Wprowadź wartość celu">
                    </div>
                    <div class="form-group">
                        <label for="goalofdays">Ilość dni</label>
                        <input type="number" class="form-control" id="goalofdays"
                               placeholder="Wprowadź ilość dni na osiągnięcie celu">
                    </div>
                    <button type="submit" class="btn btn-primary">Zatwierdź</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>