<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista przychodów</title>
</head>
<body>
<section class="content" th:fragment="IncomesList">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Lista przychodów</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <table class="table table-bordered table-striped table-hover datatables" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>TYP</th>
                        <th>NAZWA</th>
                        <th>WARTOŚĆ</th>
                        <th>DATA</th>
                        <th>USUŃ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="tableRow" th:each="income : ${allIncomes}">
                        <td th:text="${income.id_income}"></td>
                        <td th:text="${income.type}"></td>
                        <td th:text="${income.name}"></td>
                        <td th:text="${income.value}"></td>
                        <td th:text="${income.date}"></td>
                        <td>USUŃ</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div class="add-edit-form">
                    <div class="form-title">
                        <p>Edytuj / dodaj przychód</p>
                        <span>(Wybierz rekord i zmień dane, aby edytować przychód, lub wypełnij pola i zatwierdź, aby dodać nowy)</span>
                        <hr>
                    </div>
                    <div class="form-group">
                        <label for="id">ID</label>
                        <div class="input-group">
                            <span class="input-group-addon bg-blue">
                                <span class="ion ion-minus"></span>
                            </span>
                            <input type="text" class="form-control" id="id"
                                   placeholder="id" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type">Typ</label>
                        <div class="input-group">
                            <span class="input-group-addon bg-blue">
                                <span class="ion ion-compose"></span>
                            </span>
                            <input type="text" class="form-control" id="type"
                                   placeholder="Wybierz typ" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Nazwa przychodu</label>
                        <div class="input-group">
                            <span class="input-group-addon bg-blue">
                                <span class="ion ion-chatbubble"></span>
                            </span>
                            <input type="text" name="name" class="form-control" id="name"
                                   placeholder="Wprowadź nazwę celu">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="value">Wartość</label>
                        <div class="input-group">
                            <span class="input-group-addon bg-blue">
                                <span class="ion ion-pricetag"></span>
                            </span>
                            <input type="text" class="form-control" id="value"
                                   placeholder="Wprowadź wartość">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date">Data</label>
                        <div class="input-group">
                            <span class="input-group-addon bg-blue">
                                <span class="ion ion-android-calendar"></span>
                            </span>
                            <input type="text" class="form-control" id="date"
                                   placeholder="Wybierz datę">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-range-reset btn-block">Usuń</button>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-range btn-block">Edytuj</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>