<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"
          name="viewport">
    <title>Examples &rsaquo; Login &mdash; Goal Maker</title>

    <link rel="stylesheet" type="text/css" href="assets/vendor/data-table/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/nouislider.css"/>


    <link rel="stylesheet" type="text/css" href="dist/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="dist/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <link rel="stylesheet" type="text/css" href="dist/modules/summernote/summernote-lite.css">
    <link rel="stylesheet" type="text/css" href="dist/modules/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="dist/css/style.css">
    <link rel="stylesheet" type="text/css" href="dist/css/custom.css">
    <link rel="stylesheet" type="text/css" href="dist/css/skins/blue.css">
    <link rel="stylesheet" type="text/css" href="assets/css/datepicker.css">
</head>

<body>
<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <div class="login-brand">
                        Goal Maker
                    </div>

                    <div class="card card-primary">
                        <div class="card-header"><h4>Zaloguj się</h4></div>
                        <form th:action="@{/login}" method="post" action="#" class="needs-validation" novalidate="">

                            <div class="card-body">

                                <div class="form-group">
                                    <label for="login">Login</label>
                                    <input id="login" type="text" class="form-control" name="username" tabindex="1"
                                           required autofocus>
                                    <div class="invalid-feedback">
                                        Podaj login
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password" class="d-block">Hasło
                                        <div class="float-right">
                                            <a href="#">
                                                Zapomniałeś hasła?
                                            </a>
                                        </div>
                                    </label>
                                    <input id="password" type="password" class="form-control" name="password"
                                           tabindex="2" required>
                                    <div class="invalid-feedback">
                                        Podaj hasło
                                    </div>
                                </div>

                               <!-- <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="remember" class="custom-control-input" tabindex="3"
                                               id="remember-me">
                                        <label class="custom-control-label" for="remember-me">Zapamiętaj mnie</label>
                                    </div>
                                </div>-->
                                <h4 th:if="${param.error}" class="loginError">Zły login lub
                                    hasło!</h4>
                                <br>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block" tabindex="4">
                                        Zaloguj się
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="mt-5 text-muted text-center">
                        Nie posiadasz konta? <a href="#">Załóż nowe</a>
                    </div>
                    <div class="simple-footer">
                        Copyright &copy; Goal maker 2018
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script src="dist/js/scripts.js"></script>
<script src="dist/modules/jquery.min.js"></script>
<script src="dist/modules/popper.js"></script>
<script src="dist/modules/tooltip.js"></script>
<script src="dist/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
<script src="dist/js/sa-functions.js"></script>

<script src="dist/modules/chart.min.js"></script>
<script src="dist/modules/summernote/summernote-lite.js"></script>
<script src="assets/scripts/bootstrap-datepicker.js"></script>
<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'dd.mm.yyyy'
        });
    });
</script>


</body>
</html>