<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Rejestracja</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="assets/scripts/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/vendor/data-table/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/nouislider.css"/>


    <link rel="stylesheet" type="text/css" href="dist/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="dist/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

    <link rel="stylesheet" type="text/css" href="dist/modules/summernote/summernote-lite.css">
    <link rel="stylesheet" type="text/css" href="dist/modules/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="dist/css/style.css">
    <link rel="stylesheet" type="text/css" href="dist/css/custom.css">
    <link rel="stylesheet" type="text/css" href="dist/css/skins/blue.css">
    <link rel="stylesheet" type="text/css" href="assets/css/datepicker.css">


</head>
<body>

<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="login-brand">
                        Goal Maker
                    </div>

                    <div class="card card-primary">
                        <div class="card-header"><h4>Rejestracja</h4></div>
                        <div class="card-body">
                            <form method="post" th:action="@{/register}" th:object="${user}">
                                <div class="form-group">
                                    <label for="login">Login</label>
                                    <input id="login" type="text" class="form-control" name="username"
                                           th:field="*{login}" autofocus>
                                    <div class="invalid-feedback">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="first_name">Imię</label>
                                        <input id="first_name" type="text" class="form-control" name="firstname"
                                               th:field="*{name}">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="last_name">Nazwisko</label>
                                        <input id="last_name" type="text" class="form-control" name="surname"
                                               th:field="*{surname}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" type="email" class="form-control" name="email"
                                           th:field="*{email}">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="password" class="d-block">Password</label>
                                    <input id="password" type="password" class="form-control" name="password"
                                           th:field="*{password}">
                                </div>

                                <div class="form-group">
                                    <label for="register-bday" class="control-label sr-only">Data urodzenia</label>
                                    <input id="register-bday" type="text" name="date" class="form-control datepicker"
                                           placeholder="Data urodzenia" th:field="*{dateOfBirth}">
                                </div>
                                <!--
                                                    <div class="form-group col-6">
                                                      <label for="password2" class="d-block">Password Confirmation</label>
                                                      <input id="password2" type="password" class="form-control" name="password-confirm">
                                                    </div>
                                -->
                                <div class="form-group" hidden>
                                    <select class="form-control" th:field="*{isActive}">
                                        <option th:value="TRUE" th:text="TRUE"></option>
                                        <!--<option th:value="FALSE" th:text="FALSE" />-->
                                    </select>
                                </div>

                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="agree" class="custom-control-input" id="agree">
                                        <label class="custom-control-label" for="agree">Akceptuję regulamin i jego
                                            warunki</label>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Zarejestruj
                                    </button>
                                    <a th:href="@{/login}" class="btn btn-danger btn-round" style="margin-bottom: 15px;">
                                        Anuluj
                                    </a>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="simple-footer">
                        Copyright &copy; Goal Maker 2018 | Stisla template
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="dist/js/scripts.js"></script>
<script src="dist/modules/jquery.min.js"></script>
<script src="dist/modules/popper.js"></script>
<script src="dist/modules/tooltip.js"></script>
<script src="dist/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
<script src="dist/js/sa-functions.js"></script>

<script src="dist/modules/chart.min.js"></script>
<script src="dist/modules/summernote/summernote-lite.js"></script>
<script src="assets/scripts/bootstrap-datepicker.js"></script>
<script>
    $(function () {
        $('.datepicker').datepicker({
            format: 'dd.mm.yyyy'
        });
    });
</script>
</body>

</html>
