.centerImg
{
	margin: 0 auto;
}

.margin{
	margin-top: 15%;
}
.register-box{
    margin-top: -5%;
}
.fa{
	width: 25px;
}
.goal-body{
	color: white;
	top: 130px;
}
.goal-body >h1{
	font-size: 4rem;
	font-weight: 800;
	text-shadow: 1px 2px 1px #000;
}
.goal-body>p{
	font-size: 2rem;
	font-weight: 600;
	text-shadow: 1px 2px 1px #000;
}